<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Mundo Lexical</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav class="nav">
            <ul class="list">
                <li class="list_item">
                    <div class="list_button">
                        <img src="{{ url_for('static', filename='img/logo.jpeg') }}" class="logo_menu">
                    </div>
                </li>
                <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                        <img src="{{ url_for('static', filename='img/bx-group.svg') }}" class="list_img">
                        <a href="#" class="nav_link">Idiomas</a>
                        <img src="{{ url_for('static', filename='img/bx-chevron-right.svg') }}" class="list_arrow">
                    </div>
                    <ul class="list_show">
                        <li class="list_item">
                            <div class="list_button">
                                <img src="{{ url_for('static', filename='img/español.png') }}" class="list_img">
                                <a href="{{url_for('home')}}" class="nav_link">Español</a>
                            </div>
                        </li>
                        <li class="list_item">
                            <div class="list_button">
                                <img src="{{ url_for('static', filename='img/Ingles.png') }}" class="list_img">
                                <a href="{{url_for('ingles')}}" class="nav_link">Ingles</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                        <img src="{{ url_for('static', filename='img/bx-group.svg') }}" class="list_img">
                        <a href="#" class="nav_link">Acerca de</a>
                        <img src="{{ url_for('static', filename='img/bx-chevron-right.svg') }}" class="list_arrow">
                    </div>
                    <ul class="list_show">
                        <li class="list_item">
                            <div class="list_button">
                                <img src="{{ url_for('static', filename='img/bxs-universal-access.svg') }}" class="list_img">
                                <a href="{{url_for('sobrenosotros')}}" class="nav_link">Sobre nosotros</a>
                            </div>
                        </li>
                        <li class="list_item">
                            <div class="list_button">
                                <img src="{{ url_for('static', filename='img/bx-user.svg') }}" class="list_img">
                                <a href="{{url_for('ayuda')}}" class="nav_link">Ayuda</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list_item">
                    <div class="list_button">
                        <img src="{{ url_for('static', filename='img/bxs-contact.svg') }}" class="list_img">
                        <a href="{{ url_for('contacto') }}" class="nav_link">Contactos</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <img src="{{ url_for('static', filename='img/bx-menu.svg') }}" class="toggle-icon" id="toggle-menu" style="display:none;">
    
    <div class="container">
        <div class="logo-container">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="Logo de Mundo Lexical" class="logo">
               </a>
            <p class="logo-title">Mundo Lexical</p>
        </div>

        <div class="search-box">
            <form action="/get_definition" method="POST">
                <input type="text" placeholder="Escriba la palabra aquí..." id="inp-word" name="word" required>
                <button type="submit">Buscar</button>
            </form>
        </div>

        {% if definition %}
        <div class="result" id="result">
            <h2>Definición de "{{ word }}":</h2>
            <p>{{ definition }}</p>
        </div>
        {% endif %}
    </div>

    <audio id="sound"></audio>
    <script src="{{ url_for('static', filename='js/bb.js') }}"></script>
</body>
</html>

